.header
  .header__name favorites
  .header__right-box
    .header__right-box__new 新規登録
    .header__right-box__login ログイン
.main
  .intro
    .copy 
      %strong 自分だけのお気に入り部屋を作成しよう
    .text
      %p favoritesは、お気に入りの音楽や本などを保存できるサイトです。懐かしのあの曲も、昔読んだあの本もいつでも振り返ることのできる場所を提供します。
  .about
    .new-favorites my favorites作成
    .other-favorites 他の人のfavorites
%footer