.wrapper
  .genres
    .book
      =link_to "BOOK",'/genres/1'
    .music 
      =link_to "MUSIC",'/genres/1'
    .movie 
      =link_to "MOVIE",'/genres/1'
    .youtube 
      =link_to "YOUTUBE",'/genres/1'
