.main
  .intro
    .copy 
      %strong 自分だけのお気に入り部屋を作成しよう
    .text
      %p favoritesは、お気に入りの音楽や本などを保存できるサイトです。懐かしのあの曲も、昔読んだあの本もいつでも振り返ることのできる場所を提供します。
  .about
    - if user_signed_in?
      .new-favorites
        %strong my favorites作成
        =link_to "ジャンルを選択", genres_path
    - else
      .create-favorites
        %strong my favorites作成にはログインが必要です。
