.details-main{
  padding-top: 40px;
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url(img-3063.jpg);
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  .details-header{
    padding: 0 150px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__name{
      border-bottom: solid 3px white;
      font-size: 80px;
      color: white;
      width: 40%;
      font-style: oblique;
      text-align: center;
      line-height: 80px;
    }

    &__form{
      width: 300px;
      margin-right: 50px;
      margin-top: 10px;
      .input-box{
        display: block;

        &__top{
          width: 100%;
          display: flex;
          position: relative;

          &__detail{
            font-size: 10px;
            height: 20px;
            width: 100%;
          }
          &__image{
            font-size: 13px;
            position: absolute;
            right: 5px;

            .fas{
              font-size: 2px;
            }
            &__file{
              display: none;
            }
          }
        }

        &__bottom{

          color: black;

          &__text{
            font-size: 10px;
            width: 100%;
            height: 50px;
            margin-top: 10px;
          }

          &__send-btn{
            font-size: 10px;
            margin: 0 auto;
            display: flex;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .main{
    padding: 10px 100px;
    height: calc(100vh - 300px);

    .detail{
      height: 120px;
      width: 250px;
      border: 1px solid #000000;
      padding: 5px;
      margin: 0px 0px 10px 0px;
      position: relative;
      margin: 0px 45px 30px 15px;

      .detail_name{
        line-height: 20px;
        height: 50%;
        width: 50%;
        padding-top: 20px;
        font-size: 12px;
        float: left;
        text-align: center;
        color: yellow;
      }

      .detail_image{
        height: 100%;
        width: 50%;
        padding-left: 2px;
        float: left;

        img{
          height: 100%;
          width: 100%;
        }
      }

      .detail_text{
        bottom: 5px;
        padding-top: 30px;
        height: 50%;
        color: #364e96;
        width: 50%;
        word-break: break-all;
        position: absolute;
        text-align: center;
      }
    }
  }
  .pagination{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-right: 25px;
  }
}

.main li{
  float: left;
}