* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  .header{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-image: url(img-3055.jpg);
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 30px black);
    background-blend-mode: lighten;

    &__name{
      a{
      font-size: 50px;
      height: 80%;
      line-height: 130px;
      font-family: cursive;
      color: greenyellow;
      }
    }

    &__right-box{
      display: flex;
      width: 300px;
      line-height: 130px;
      a{
        color: black;
      }

      &__new{
        a{
        padding-left: 50px;
        color: black;
        }
      }

      &__login{
        a{
        padding-left: 50px;
        color: black;
        }
      }
    }
  }
}



.wrapper {
  footer{
    background-color: gray;
    height: 50px;
    bottom: 0;
  }

  .main{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    background-image: url(img-3053.jpg);
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;

    .intro{
      height: calc(100% / 2);
      padding: 50px 50px;
      
      .copy{
        padding-top: 10px;
        height: 50%;
        text-align: center;
        font-size: 30px;
        strong{
          color: #364e96;
          padding: 0.5em 0;
          border-top: solid 3px #364e96;
          border-bottom: solid 3px #364e96;
        }
      }
      .text{
        padding: 40px 300px;
        height: 30%;
        text-align: center;   
        p{
          -webkit-text-fill-color: transparent;
          text-shadow: -4px -4px 0px #364e96, -3px -3px 0px #fff;
        } 
      }
    }

    .about{
      height: calc(100vh / 2);
      display: flex;
      padding: 80px;
      justify-content: space-around;

      .new-favorites{
        font-size: 30px;
        text-align: center;
        strong{
          color: #000;
          display: block;
          margin-bottom: 20px;
          border-bottom: double 5px #FFC778;
        }
        a{
          color: black;
        }
      }
      .other-favorites{
        font-size: 30px;
        text-align: center;
        strong{
        display: block;
        color: #000;
        font-size: 30px;
        margin-bottom: 20px;
        border-bottom: double 5px #FFC778;
        }
        a{
          color: black;
          display: block;

        }
      }
    }  
  }
}