!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Favorites
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__name
        =link_to "favorites", root_path
      .header__right-box
        .header__right__box__user 
          =link_to "yuga","#"
        .header__right-box__new
          =link_to "新規登録", new_user_registration_path
        .header__right-box__login
          =link_to "ログイン", new_user_session_path
    = yield
